MaterialDefinition(
    bind_group_layouts: {
        // @group(1): Per-Material (Texture)
        1: BindGroupLayoutDef(
            bindings: [
                // Diffuse Texture
                BindingDef(
                    binding: 0,
                    visibility: ["Fragment"],
                    ty: "Texture",
                    texture_options: Some((
                        sample_type: "Float",
                        view_dimension: "2d",
                        multisampled: false,
                    )),
                ),
                // Diffuse Sampler
                BindingDef(
                    binding: 1,
                    visibility: ["Fragment"],
                    ty: "Sampler",
                    sampler_options: Some((
                        ty: "Filtering",
                    )),
                ),
            ],
        ),

        // @group(2): Per-Object (Model)
        2: BindGroupLayoutDef(
            bindings: [
                BindingDef(
                    binding: 0,
                    visibility: ["Vertex"],
                    ty: "Buffer",
                    buffer_options: Some((
                        ty: "Storage", // Using Storage is a flexible choice
                        has_dynamic_offset: false,
                    )),
                ),
            ],
        ),
    },
)
