[package]
name = "b"
version = "0.0.1"
edition = "2021"

[lib]
path = "src/lib.rs"

[[bin]]
name = "b"
path = "src/main.rs"

[[bench]]
name = "generation_benchmarks"
harness = false

[features]
tracy = ["dep:tracy-client", "dep:tracing-tracy"]
final_release = ["tracing/release_max_level_error"]

# standard release: fastish, but compiles quicker than dist and keeps logging/debugging
[profile.release]
opt-level = 3
lto = "thin"
debug = true
strip = false

# distribution release: cargo build --profile distribution --features final_release
[profile.distribution]
inherits = "release"
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
debug = false

[build-dependencies]
wesl = "0.2.0" # shader compliation from WESL to WGSL

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }
b = { path = "." }

[dependencies]

# INFO: --------------------------------
#         logging/error handling
# --------------------------------------

time = { version = "0.3.43", features = ["formatting", "macros"] }
tracing = { version = "0.1.41", features = ["release_max_level_warn"] }
tracing-subscriber = { version = "0.3.20", features = [
  "time",
  "local-time",
  "env-filter",
] }
tracy-client = { version = "=0.18.0", optional = true }
tracing-tracy = { version = "=0.11.4", optional = true }

# INFO: ------------------
#         graphics
# ------------------------

## rendering
wgpu = "26.0.1"                                        # gpu interfacing
winit = { version = "0.30.12", features = ["rwh_06"] } # OS window manage

## ui
taffy = "0.9.1"                                                                                                 # ui layout
glyphon = { git = "https://github.com/grovesNL/glyphon.git", rev = "724ab57edbd6c59ba219cd99cf89925d056392db" } # text vectorization/prep

## shaders
wesl = "0.2.0" # preprocessor

## utils 
image = { version = "0.25.6", default-features = false, features = ["png"] }
bytemuck = { version = "1.13", features = ["derive"] }                       # gpu friendly data
glam = "0.30.5"                                                              # linear algebra
offset-allocator = "0.2.0"                                                   # gpu buffer allocation

# INFO: --------------------------
#         simulation logic
# --------------------------------

## core ecs library
bevy_ecs = { version = "0.17.2", default-features = false }

## for multi-threaded tasks
rayon = "1.11.0"       # multi threaded pooling
futures-lite = "2.6.1" # future utils

# INFO: ---------------
#         utils
# ---------------------

# tracking memory usage
sysinfo = { version = "0.37.2", default-features = false, features = [
  "system",
] }

derive_more = { version = "2.0.1", features = ["deref", "deref_mut"] }
serde = { version = "1.0.228", features = ["derive"] }                 # serializing
rand = "0.9.2"                                                         # rng
ron = "0.11.0"                                                         # parsing RON files
noise = { version = "0.9.0", default-features = false }                # gen random noise
crossbeam = "0.8.4"                                                    # thread comms
glob = "0.3.3"                                                         # reading dirs
