MaterialDefinition(
  vertex_buffers: [],
  bind_group_layouts: {
    // per-view defs (sun camera)
    0: BindGroupLayoutDef(
      bindings: [
        BindingDef(
          binding: 0,
          visibility: ["Fragment", "Vertex"],
          ty: "Buffer",
          buffer_options: Some((
            ty: "Uniform",
            has_dynamic_offset: false,
          )),
        ),
      ],
    ),
    // per-object defs (model matrix)
    1: BindGroupLayoutDef( bindings: [
        BindingDef(
          binding: 0,
          visibility: ["Vertex"],
          ty: "Buffer",
          buffer_options: Some((
            ty: "Storage",
            has_dynamic_offset: false,
          )),
        ),
      ],
    ),
  },
)
