MaterialDefinition(
  vertex_buffers: [],
  bind_group_layouts: {
	  // group 1 and 2 is the view and environment data

    // per-object defs
    2: BindGroupLayoutDef( bindings: [
        BindingDef(
          binding: 0,
          visibility: ["Vertex"],
          ty: "Buffer",
          buffer_options: Some((
            ty: "Storage",
            has_dynamic_offset: false,
          )),
        ),
      ],
    ),
  },
)
