MaterialDefinition(
  vertex_buffers: [],
  bind_group_layouts: {
    // per-view defs (ortho proj)
    0: BindGroupLayoutDef(
      bindings: [
        BindingDef(
          binding: 0,
          visibility: ["Fragment", "Vertex"],
          ty: "Buffer",
          buffer_options: Some((
            ty: "Uniform",
            has_dynamic_offset: false,
          )),
        ),
      ],
    ),
    // per-material data (color)
    1: BindGroupLayoutDef(
      bindings: [
        BindingDef(
          binding: 0,
          visibility: ["Fragment"],
          ty: "Buffer",
          buffer_options: Some((
            ty: "Uniform",
            has_dynamic_offset: true,
          )),
        ),
      ],
    ),
    // per-object data (model matrix)
    2: BindGroupLayoutDef(
      bindings: [
        BindingDef(
          binding: 0,
          visibility: ["Vertex"],
          ty: "Buffer",
          buffer_options: Some((
            ty: "Storage",
            has_dynamic_offset: false,
          )),
        ),
      ],
    ),
  },
)
